<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>UserPage</title>
    {%block navbar %} {%include 'navbar.html' %} {%endblock navbar %}
</head>

<body>
    <h1>{{user.username}}</h1>

    <h2>My information</h2>
    <p><strong>username: </strong> {{user.username}}</p>
    <p><strong>email: </strong> {{user.email}}</p>   
    <p><strong>date joined: </strong> {{user.date_joined}}</p>

    <form action='' method="POST">
        {% csrf_token %}
        <input name="newPassword" placeholder="Type new password..">
        <input type="submit" value="Change password"/>
    </form>
    
</body>
</html>